/*F U L L  P A G E*/
*{
    scroll-behavior: smooth;
    cursor: url('pixelart/cursor_blue2.png'), pointer;
}

body{
    background-color: #2B2B2B;
}

.relative {
    position: relative;
} 

.responsive{
    margin-top: 3rem;
}
/*defines relative position class. use as a super basic umbrella term to place absolute elements into. doesn't even need to have colours. can just be defined as relative. be relatives. be waves*/

.absolute {
    position: absolute;
    margin: 20%;
    bottom: 1rem;
    right: 1rem;
}
/*defines absolute position class (to be used within relative position)*/

input {
    width: 50%;
    margin-left: 20%;
    text-align: left;
    background-color: rgb(188, 214, 235);
    border-radius: 1rem; 
    border-color: #658196;
}

/*L I N K  D E C O R A T I O N*/
a:link, a:visited{
    text-decoration: none;
}

#display a:link, #display a:visited{
    text-decoration: none;
    color: #EBBCE7;
    cursor: url('pixelart/cursor_pink1.png'), pointer;
}

#display a:hover{
    animation-name: text;
    animation-duration: 3s;
    transition: 1.5s;
    animation-iteration-count: infinite;
    font-size: 120%;
}

#create a:link, #create a:visited{
    color: rgb(188, 214, 235);
    transition: 1s;
    cursor: url('pixelart/cursor_green1.png'), pointer;
}

#create a:hover{
    color: #719665;
    transition: 1s;
    font-size: 120%;
}

#createactive a:link, #createactive a:visited{
    color: #C9EBBC;
    cursor: url('pixelart/cursor_green1.png'), pointer;
}

#createactive a:hover{
    color: #719665;
    transition: 1s;
    font-size: 120%;
}

#share a:link, #share a:visited{
    color: rgb(188, 214, 235);
    transition: 1s;
    cursor: url('pixelart/cursor_yellow1.png'), pointer;
}

#share a:hover{
    color: #B39772;
    transition: 1s;
    font-size: 120%;
}

#shareactive a:link, #shareactive a:visited{
    color: #EBD1AE;
    cursor: url('pixelart/cursor_yellow1.png'), pointer;
}

#shareactive a:hover{
    color: #B39772;
    transition: 1s;
    font-size: 120%;

}

#explore a:link, #explore a:visited{
    color: rgb(188, 214, 235);
    transition: 1s;
    cursor: url('pixelart/cursor_pink1.png'), pointer;
}

#explore a:hover{
    color: #B079AF;
    transition: 1s;
    font-size: 120%;
}

#exploreactive a:link, #exploreactive a:visited{
    color: #EBBCE7;
    cursor: url('pixelart/cursor_pink1.png'), pointer;
}

#exploreactive a:hover{
    color: #B079AF;
    transition: 1s;
    font-size: 120%;

}

#jumplink a:link, #jumplink a:visited{
    position: sticky;
    color: rgb(188, 214, 235);
    transition: 1s;
}

#jumplink a:hover{
    position: sticky;
    color: #658196;
    transition: 0.5s;
    font-size: 120%;

}

#footer a:link, #footer a:visited{
    color: rgb(188, 214, 235);
    transition: 1s;
    font-size: 8pt;
}

#footer a:hover{
    color: #2B2B2B;
    transition: 0.5s;
    font-size: 110%;

}

/*F O N T S*/
@font-face {
    font-family: 'Jacquard24';
    src: url('fonts/Jacquard24-Regular.woff') format('woff'),
         url('fonts/Jacquard24-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;        
}

@font-face{
    font-family: 'Silkscreen';
    src:    url('fonts/Silkscreen-Regular.woff') format('woff'),
            url('fonts/Silkscreen-Regular.woff2') format('woff2');
            font-style: normal;
}

@font-face{
    font-family: "Micro5";
    src:    url('fonts/Micro5-Regular.woff') format('woff'),
            url('fonts/Micro5-Regular.woff2') format('woff2');
            font-style: normal;
}

@font-face{
    font-family: 'CourierNew';
    src:    url('fonts/CourierNewPSMT.woff') format('woff'),
            url('fonts/CourierNewPSMT.woff2') format('woff2');
            font-style: normal;
}
@font-face{
    font-family: 'CourierNewBold';
    src:    url('fonts/CourierNewPS-BoldMT.woff') format('woff'),
            url('fonts/CourierNewPS-BoldMT.woff2') format('woff2');
            font-style: normal;
}

/*B R E A K  P O I N T S*/
/*p*/
@media (max-width:600px){
p{
    font-family:'CourierNew'; 
    color:rgb(188, 214, 235); 
    text-align:left; 
    font-size: 10pt;
    line-height: 1.25;
    line-height: 1.25;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}
}

@media (min-width:601px){
    p{
        font-family:'CourierNew'; 
        color:rgb(188, 214, 235); 
        text-align:left; 
        font-size: 14pt;
        line-height: 1.25;
        line-height: 1.25;
        margin-top: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/*h1*/
@media (max-width:600px){
    h1{
        font-family: "Jacquard24";
        color:#EBBCE7; 
        text-align:center; 
        font-size: 280%;
        font-weight: 400;
        transition: 1s;
    }
}

@media (min-width:601px){
    h1{
        font-family: "Jacquard24";
        color:#EBBCE7;
        text-align:center; 
        font-size: 900%;
        font-weight: 400;
        transition: 1s;
    }
}

@media (min-width:900px){
    h1{
        font-family: "Jacquard24";
        color:#EBBCE7;
        text-align:center; 
        font-size: 1500%;
        font-weight: 400;
        transition: 1s;
    }
}

/*h2*/
@media (max-width:600px){
    h2{
        font-family: "Silkscreen";
        color:rgb(188, 214, 235); 
        text-align:center;
        font-size: 60%; 
        transition: 1s;
    }
}

@media (min-width:601px){
    h2{
        font-family: "Silkscreen";
        color:rgb(188, 214, 235); 
        text-align:center; 
        font-size: 130%;
        transition: 1s;
    }
}

@media (min-width:900px){
    h2{
        font-family: "Silkscreen";
        color:rgb(188, 214, 235); 
        text-align:center; 
        font-size: 200%;
        transition: 1s;
    }
}

/*h3*/
@media (max-width:600px){
    h3{
        font-family: "Micro5";
        color:rgb(188, 214, 235); 
        text-align:center; 
        font-size: 200%;
        transition: 1s;
    }
}

@media (min-width:601px){
    h3{
        font-family: "Micro5";
        color:rgb(188, 214, 235); 
        text-align:center; 
        font-size: 400%;
        margin-top: 5%;
        margin-bottom: 0%;
        transition: 1s;
    }
}

@media (min-width:900px){
    h3{
        font-family: "Micro5";
        color:rgb(188, 214, 235); 
        text-align:center; 
        font-size: 550%;
        transition: 1s;
    }
}

/*EXPLORE P*/
@media (max-width:600px){
h4{
    font-family:'CourierNew'; 
    text-align:center;
    background-color: rgb(188, 214, 235);
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    color:#2B2B2B; 
    font-size: 9pt;
    line-height: 2rem;
    margin-top: 1%;
    margin-bottom: 10%;
    border-color: #658196;
    border-width: 20%;
}
h4:hover{
    background-color: #EBBCE7;
    font-size: 11pt;
    transition: 1s;
}
}

@media (min-width:601px){
    h4{
        font-family:'CourierNew'; 
        text-align:center;
        background-color: rgb(188, 214, 235);
        width: 100%;
        height: 150px;
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
        color:#2B2B2B; 
        font-size: 10pt;
        line-height: 2rem;
        margin-top: 1%;
        margin-bottom: 10%;
    }
    h4:hover{
        background-color: #EBBCE7;
        font-size: 11pt;
        transition: 0.5s;
    }
    }

/*BOLD P*/
@media (max-width:600px){
h5{
    font-family:'CourierNewBold'; 
    color:rgb(188, 214, 235); 
    text-align:left; 
    font-size: 12pt;
    line-height: 1.25;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
}

@media (min-width:601px){
h5{
    font-family:'CourierNewBold'; 
    color:rgb(188, 214, 235); 
    text-align:left; 
    font-size: 14pt;
    line-height: 1.25;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}
}

/*CENTRE P*/
@media (max-width:600px){
h6{
    font-family:'CourierNew'; 
    color:rgb(188, 214, 235); 
    text-align:center; 
    font-size: 12pt;
    line-height: 1.25;
    margin-top: 5%;
}
}

@media (min-width:601px){
h6{
    font-family:'CourierNew'; 
    color:rgb(188, 214, 235); 
    text-align:center; 
    font-size: 14pt;
    line-height: 1.25;
    margin-top: 5%;
    }
}

footer{
    font-family:'CourierNew'; 
    color:rgb(188, 214, 235); 
    text-align:left; 
    font-size: 8pt;
    line-height: 1.25;
    margin-top: 5%;
    width:100%;
}

/*LISTS*/
@media (max-width:600px){
li{
    font-family:'CourierNew'; 
    color:rgb(188, 214, 235); 
    text-align:left; 
    font-size: 10pt;
    line-height: 1;
    margin: 2rem;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 10%;
}
}

@media (min-width:601px){
    li{
        font-family:'CourierNew'; 
        color:rgb(188, 214, 235); 
        text-align:left; 
        font-size: 14pt;
        line-height: 1;
        margin: 2rem;
        margin-top: 5%;
        margin-left: 15%;
        margin-right: 10%;
    }
}

/*B U T T O N S*/
.backtotop{
position: fixed;
right: 40px;
bottom: 20px;
border-radius: 50%;
width: 30px;
height: 30px;
background-color: rgb(188, 214, 235);
font-family:'Courier New'; 
font-size: 1.5rem;
text-align: center;
}

.backtotop:hover{
    position: fixed;
    right: 40px;
    bottom: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgb(188, 214, 235);
    filter: drop-shadow(1px 1px 10px rgb(188, 214, 235));
    font-family:'Courier New'; 
    font-size: 2rem;
    text-align: center;
    transition: 0.5s ease-in-out;
    }

/*button{
    font-family: "Silkscreen", sans-serif;
    font-size: 100%;
    border-radius: 1rem;
    padding: 5px;
    background-color: #EBD1AE;
    border: 4px solid #B39772;
}

button:hover{
    transition: 0.5s;
    background-color: #B39772;
    border: 4px solid #EBD1AE;
    border-radius: 1rem;
    font-weight: 800;
}*/

#button a:link{
    font-family: "Silkscreen", sans-serif;
    font-size: 100%;
    border-radius: 1rem;
    padding: 5px;
    background-color: #EBD1AE;
    border: 4px solid #B39772;
    color: #B39772;
    transition: 1s;
}

#button a:hover{
    background-color: #B39772;
    border: 4px solid #EBD1AE;
    border-radius: 1rem;
    font-size: 120%;
    font-weight: 800;
    color: #EBD1AE;
    transition: 1s;
}

/*I M A G E S  &  G I F S*/
img{
    width: 100%;
    height: auto;
    max-width: 1600px;
}

.gifs {
    height: auto;
    max-width: 20px;
}

/*G R I D S*/
.container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* auto auto auto - three columns*/
    padding: 10px;
}

.container > div {
    padding: 10px;
    text-align: center;
}

/*F O O T E R*/
.footer {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
    background-color: #658196;
}

.footer> div {
    padding: 10px;
    text-align: center;
}

/*R E S P O N S I V E  I M A G E  G R I D*/
/* https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
  }
  
  .header {
    text-align: center;
    padding: 32px;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }


/*T E X T  C O L O U R  A N I M A T I O N*/
.text {
    animation-name: text;
    animation-duration: 10s;
    transition: smooth;
    animation-iteration-count: infinite;
}

@keyframes text {
    0% {color: #EBD1AE;}
    25% {color: #C9EBBC;}
    50% {color: #BCD6EB;}
    75% {color: #EBBCE7;}
    100% {color: #EBD1AE;}
}

/*T E X T  S L I D E  A N I M A T I O N*/
@keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(200px);
    }
  }
  
  .moving-text {
    animation: slide 3s infinite linear;
  }

/*F O R M*/
input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin-left: 20%;
    margin-bottom: 5%;
    display: inline-block;
    border: 2px solid #658196;
    border-radius: 100px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: #BCD6EB;
  }

  input:focus {
    outline:none;
    border: 4px solid #BCD6EB;
    background-color: #658196;
    color:#BCD6EB;
}

  input[type=file] {
    width: 60%;
    background-color: #BCD6EB;
    padding: 14px 20px;
    margin-left: 20%;
    margin-bottom: 10%;
    border: 2px solid #658196;
    border-radius: 100px;
    font-family: 'Courier New', Courier, monospace;
    color:#658196;
}
  
  input[type=submit] {
    font-family: "Silkscreen", sans-serif;
    text-align: center;
    font-size: 100%;
    border-radius: 100px;
    padding: 5px;
    background-color: #658196;
    border: 4px solid #BCD6EB;
    margin-bottom: 10%;
    color:#BCD6EB;  
    width: 60%;
}

  input[type=submit]:hover {
    transition: 0.5s;
    background-color: #BCD6EB;
    border: 4px solid #658196;
    border-radius: 100px;
    font-weight: 800;
    color:#658196;
  }
  
/*T O O L  T I P ~ Idea Credit: Mia ~https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip_arrow_bottom*/  
.tooltip{
    position: relative;
    display: inline-block;
    margin-left: 50%;
  }

  .tooltip:active {
    position: relative;
    display: inline-block;
    margin-left: 50%;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 8rem;
    background-color: #EBD1AE;
    color: #2B2B2B;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    margin-left: -8rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 10pt;
    padding: 10pt;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 90%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:#EBD1AE transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
/*S T I C K Y ~ https://www.w3schools.com/css/tryit.asp?filename=trycss_position_sticky*/
div.sticky {
    position: sticky;
    top: 0;
    background-color: #BCD6EB;
    width: 70%;
    margin-left: 15%;
    border-bottom-left-radius: 50rem;
    border-bottom-right-radius: 50rem;
    font-size: 80%;
}

/*div#jumpsticky {
    position: sticky;
    top: 0;
    background-color: #2B2B2B;
    width: 30%;
    margin-left: 5%;
}*/

/*divider line*/
/*line {
    width: 100%;
    height: 2px;
    background-color:  rgb(188, 214, 235);
    animation-name: example;
    animation-duration: 5s;
    margin-left:20%;
  }
  
  @keyframes example {
    from {background-color:  rgb(188, 214, 235);}
    to {background-color: #B39772;}
  }*/

 
/*D O W N L O A D  I C O N*/
.download {
    width: 1rem; 
    height: 1rem;
    background-image: url('pixelart/download.png');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-top: 1rem;
  }
  
.download:hover{
    width: 2rem; 
    height: 2rem;
    transition:0.25s;
}
.download:active{
    width: 0.75rem; 
    height: 0.75rem;
    transition:0.25s;
}